html,
body {
	margin: 0;
	background-color: #2B2B2B;
	color: #E4E4E4;
	text-align: center;
	font-family: 'ABeeZee';
	font-style: normal;
	align-items: center;
	justify-content: center; 
}

h1{
  font-family: 'Patrick Hand SC';
	font-style: normal;
}

header{
  text-align: left;
  padding: 10px 10px 0px 10px;
  font-family: 'Patrick Hand SC';
	font-style: normal;
  font-size:x-large;
}

header a {
  text-decoration:none;
}

html{
	height: 100%;
  overflow:none;
}

body{
  overflow:visible;
  padding-bottom: 30px;
}

footer{
  font-family: 'Patrick Hand SC';
	font-style: normal;
	padding-top:5px;
	padding-bottom:0px;
  width:100%;
	height:30px;
  background-color:#595959;
	position:fixed;
	bottom:0;
}

a {
	color:#5CB1FF;
}

p {
	font-size: 14px;
}

h2 {
  font-size: 24px;
}

input.mode {
  width:24px;
  height:24px;
  float:right;
}


.main {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
	text-align: center;
	height: fit-content;

  transition:all .2s;
}

.container {
  margin:15px;
  padding:20px;
  background-color: #3F3F3F;
  border-radius: 20px;
  width: calc(30% - 50px);
  min-width: 300px;
  display:block;
  text-align: left;

  transition:all .2s;
}

@media screen and (min-width: 320px) {
	/* html {
		font-size: calc(16px + 16 * ((100vw - 320px) / 680));
	} */
	.main {
		width: 100%;
	}
  h2 {
    font-size: calc(12px + 12 * ((100vw - 320px) / 680));
  }

	p {
		font-size: calc(8px + 8 * ((100vw - 320px) / 680));
	}
  .container {
    min-width: calc((1000px)/2 - 100px);
  }
}
@media screen and (min-width: 1000px) {
	/* html {
		font-size: 32px;
	} */
  h2 {
    font-size: 24px;
  }

	.main {
    padding: 0;
		width: 100%;
	}
  .container {
    min-width: calc((1000px)/2 - 100px);
  } 

	p {
		font-size: 16px;
	}
	
}