html, body {
	height: 100vh;
	margin: 0;
	background-color: black;
	color: white;
	text-align: center;
	font-family: sans-serif;

	display: flex;
    align-items: center;
    justify-content: center;
}
