html,
body {
	margin: 0;
	background-color: #2b2b2b;
	color: #e4e4e4;
	text-align: center;
	font-family: 'Patrick Hand SC';
	font-style: normal;
	align-items: center;
	justify-content: center;
}

html {
	height: 100%;
	overflow: none;
}

body {
	overflow: visible;
}

h1,
h2,
h3,
h4 {
	font-family: 'Patrick Hand SC';
	font-style: normal;
}

a {
	color: #5cb1ff;
}

p {
	font-family: 'ABeeZee';
	font-size: 16px;
}

ul {
	list-style-type: none;
}

header {
	text-align: left;
	padding: 10px 10px 0px 10px;
	font-family: 'Patrick Hand SC';
	font-style: normal;
	font-size: x-large;
}

header a {
	text-decoration: none;
}

footer {
	font-family: 'Patrick Hand SC';
	font-style: normal;
	font-size: medium;
	padding-top: 5px;
	padding-bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: #595959;
	position: fixed;
	bottom: 0;
}

.main {
	display: block;
	margin: auto;
	margin-top: 1rem;
	padding-bottom: 4rem;
	text-align: center;
		width: 100%;
		height: fit-content;
}

.card-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: auto;
	text-align: center;
	height: fit-content;
	margin-bottom: 1.5rem;

	transition: all 0.2s;
}

.card {
	margin: 15px;
	padding: 20px;
	background-color: #3f3f3f;
	border-radius: 20px;
	width: 400px;
	display: block;
	text-align: left;

	transition: all 0.2s;
}

.align-right,
.card-link {
	float: right;
	padding-right: 0.5rem;
}

.card-link {
	font-size: 24px;
}

.game-title-container {
	padding: 0.5rem 1.5rem;
}

.game-title {
	width: 100%;
}

.icons-container {
	padding-top: 1rem;
}

.credits {
	font-size: medium;
	padding-top: 5px;
	padding-bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #595959;
}

/* Social media icons css */
.smicon {
	padding: 8px 8px;
	fill: #e4e4e4;
	width: 10vw;
	height: auto;
}

.smlink {
	outline: none;
	border: 0;
	text-decoration: none;
}

.smlink svg #down {
	transition: 100ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 100ms;
	-webkit-transition-timing-function: ease-in-out;
}

.smlink svg:hover #down {
	fill: #fff;
}

.copyright {
	font-size: 16px;
}

/* Small screens */
@media screen and (min-width: 0px) {
	.trailer {
		height: auto;
		width: 100%;
		aspect-ratio: 16 / 9;
	}
}

/* Large screens */
@media screen and (min-width: 1000px) {
	.main {
		width: 1000px;
	}
	.smicon {
		padding: 8px 8px;
		fill: #e4e4e4;
		width: 100px;
		height: auto;
	}
	.game-title-container {
		padding: 2rem 6rem;
	}
}

.steam-buy {
	padding-top: 16px;
}

.steam-buy iframe {
	width: 100%;
	max-width: 646px;
}
